$background-color: #fff4c7;
$border-color: #b18854;
$foreground-color: #e7daa1;
$hover-color: #e1c795;
$light-button-color: #f8ecbc;
$button-color: #e4d39c;
$font-color: #21180f;

$modal-background-color: #fff8da;

$sea-z-index: 10;
$sea-image-z-index: 30;
$ship-z-index: 30;
$message-button-z-index: 30;
$message-board-z-index: 40;
$modal-z-index: 50;
