@model IEnumerable<CTFWhodunnit.Models.Guess>

@{
    ViewData["Title"] = "Guesses";
}

<div class="container">

    <div class="alert alert-danger text-center">
        <p>@ViewData["Error"]</p>
        <p href="">Go <a href="/Guess">back</a> and try again.</p>
    </div>
    

</div>