@model IEnumerable<CTFWhodunnit.Models.Guess>

@{
    ViewData["Title"] = "Guesses";
}

<div class="container-sm">
    <div class="alert alert-danger text-center">
        <span>@ViewData["Error"]</span>
    </div>

</div>