@{
    ViewData["Title"] = "Are you up for the challenge?";
}

<div id="gameLeaderboard" style="height: 100%">
    <game-leaderboard></game-leaderboard>
</div>

@section Scripts 
{
    <script src="~/ts/dist/runtime.bundle.js"></script>
    <script src="~/ts/dist/leaderboard.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY= sha384-8t+aLluUVnn5SPPG/NbeZCH6TWIvaXIm/gDbutRvtEeElzxxWaZN+G/ZIEdI/f+y sha512-PwQ5+jgXxxprNGc80ycHE3spgj6TuDieHe/yTkbEJ+U5aol7dTupi/4VbwHHzlQVW77Vb0GLOIsiYigHgC5vcg==" crossorigin="anonymous"></script>
}
